name: Pull Request Build
on:
  pull_request:
    branches: [ main ]
permissions:
  contents: read
jobs:
  build:
    name: Build
    env:
      SEGMENT_DOWNLOAD_TIMEOUT_MINS: '1'
    runs-on: ubuntu-24.04
    timeout-minutes: 5
    steps:
      - name: Checkout repository
        uses: actions/checkout@v6
      - name: Setup Java JDK 25
        uses: actions/setup-java@v5
        with:
          distribution: 'temurin'
          java-version: '25'
          cache: 'maven'
          cache-dependency-path: 'pom.xml'
      - name: Build with Maven
        id: build
        run: |
          ./mvnw --no-transfer-progress --batch-mode clean install -Dgpg.skip
          VERSION=$(./mvnw --no-transfer-progress --batch-mode help:evaluate -Dexpression=project.version -q -DforceStdout)
          echo "version=$VERSION" >> $GITHUB_OUTPUT
      - name: Validate versioning files present
        run: >
          ./mvnw --no-transfer-progress --batch-mode
          io.github.bsels:semantic-version-maven-plugin:${{ steps.build.outputs.version }}:verify
          -Dversioning.git=COMMIT -Dversioning.verification.mode=ALL_PROJECTS
