name: Push create release
on:
  push:
    branches: [ main ]
permissions:
  contents: write
jobs:
  build:
    name: Build
    env:
      SEGMENT_DOWNLOAD_TIMEOUT_MINS: '1'
    runs-on: ubuntu-24.04
    timeout-minutes: 5
    steps:
      - name: Setup Java JDK 25
        uses: actions/setup-java@v5
        with:
          distribution: 'temurin'
          java-version: '25'
      - name: Checkout repository
        uses: actions/checkout@v6
        with:
          ssh-key: ${{ secrets.SSH_KEY }}
      - name: Set up Git user
        run: |
          git config user.name github-actions[bot]
          git config user.email 41898282+github-actions[bot]@users.noreply.github.com
      - name: Build project and run versioning
        id: bumpVersion
        run: |
          set -e
          ./mvnw --no-transfer-progress --batch-mode install -Dgpg.skip
          CURRENT_VERSION=$(./mvnw --no-transfer-progress --batch-mode help:evaluate -Dexpression=project.version -q -DforceStdout)
          ./mvnw --no-transfer-progress --batch-mode io.github.bsels:semantic-version-maven-plugin:$CURRENT_VERSION:update
          VERSION=$(./mvnw --no-transfer-progress --batch-mode help:evaluate -Dexpression=project.version -q -DforceStdout)
          echo "version=$VERSION" >> $GITHUB_OUTPUT
      - name: Update version in README
        run: |
          sed -i 's/<version>[0-9]\+[.][0-9]\+[.][0-9]\+<\/version>/<version>${{ steps.bumpVersion.outputs.version }}<\/version>/g' README.md
      - name: Commit changes
        run: |
          git add .versioning CHANGELOG.md pom.xml
          git commit -am "Released ${{ steps.bumpVersion.outputs.version }} [skip ci]"
          git tag "v${{ steps.bumpVersion.outputs.version }}"
          git push
          git push origin tag "v${{ steps.bumpVersion.outputs.version }}"
      - name: Create release
        env:
          GH_TOKEN: ${{ secrets.RELEASE_PAT_TOKEN }}
          tag: ${{ format('v{0}', steps.bumpVersion.outputs.version) }}
        run: |
          gh release create "$tag" \
              --repo="$GITHUB_REPOSITORY" \
              --title="${GITHUB_REPOSITORY#*/} ${tag#v}" \
              --generate-notes
