name: Release Build
on:
  release:
    types: [created]
  workflow_dispatch:
    inputs:
      tag:
        description: "The tag to build"
        required: true
        type: string
permissions:
  contents: write
jobs:
  build:
    name: Build
    env:
      SEGMENT_DOWNLOAD_TIMEOUT_MINS: '1'
    runs-on: ubuntu-24.04
    timeout-minutes: 5
    steps:
      - name: Checkout repository
        uses: actions/checkout@v6
        with:
          ref: ${{ inputs.tag }}
      - name: Setup Java JDK 25
        uses: actions/setup-java@v5
        with:
          distribution: 'temurin'
          java-version: '25'
          cache: 'maven'
          cache-dependency-path: 'pom.xml'
          server-id: ossrh
          server-username: SERVER_USERNAME
          server-password: SERVER_PASSWORD
          gpg-private-key: ${{ secrets.GPG_KEY }}
          gpg-passphrase: GPG_PASSPHRASE
        env:
          GPG_PASSPHRASE: ${{ secrets.GPG_KEY_PASSWORD }}
          SERVER_USERNAME: ${{ secrets.MAVEN_CENTRAL_USERNAME }}
          SERVER_PASSWORD: ${{ secrets.MAVEN_CENTRAL_PASSWORD }}
      - name: Build and deploy with Maven
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          SERVER_USERNAME: ${{ secrets.MAVEN_CENTRAL_USERNAME }}
          SERVER_PASSWORD: ${{ secrets.MAVEN_CENTRAL_PASSWORD }}
        run: |
          ./mvnw --batch-mode --no-transfer-progress clean deploy -Dgpg.passphrase=${{ secrets.GPG_KEY_PASSWORD }}
      - name: Zip coverage report
        run: |
          zip -r coverage-report.zip target/site/jacoco
      - name: Attach coverage report to release
        run: |
          gh release upload ${{ github.event.release.tag_name }} coverage-report.zip
